= form_for wiki do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
  .form-group
    = f.label :description
    = f.hidden_field :body, id: "body"
  #epiceditor
  %br

  - if can_mark_private?(wiki, current_user, wiki_update)
    .form-group.form-inline
      = f.label :private
      = f.check_box :private, class: 'checkbox inline'
  .form-group
    = f.submit "Save", class: 'btn btn-success'
